@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
@using DinoDiner.Menu;

<h1>Menu</h1>
<div id="right_sidebar">
    <form method="post">
        <input type="text" name="search" id="search" value="Text" />
        <input type="submit" value="Search and Filter"/>
        <div class="menu_categories_filter">
            <label>
                <input type="checkbox" name="CategoryCheckbox" value="combo" />
                Combo
            </label>
            <label>
                <input type="checkbox" name="CategoryCheckbox" value="entree" />
                Entree
            </label>
            <label>
                <input type="checkbox" name="CategoryCheckbox" value="side" />
                Side
            </label>
            <label>
                <input type="checkbox" name="CategoryCheckbox" value="drink" />
                Drink
            </label>
        </div>

        <div id="price_filter">
            <label>Price</label>
            <br/>
            <label>
                Min
                <input type="number" name="minimumPrice" id="minimum-price" />
            </label>
            <label>
                Max
                <input type="number" name="maximumPrice" id="maximum-price" />
            </label>
        </div>

        <div id="exclude-ingredients">
            @foreach(string s in Model.Menu.PossibleIngredients)
            {
                <label>
                    <input type="checkbox" name="@s" value="@s"/>
                    @s
                </label>
            }
        </div>

    </form>
</div>

<h2>Combos</h2>
@foreach (CretaceousCombo combo in Model.Menu.AvailableCombos)
{
    <div class="menu-item">
        <p id="description">@combo.Description</p>
        <p>Price: $@combo.Price</p>
        <p>Calories: @combo.Calories</p>
        <p>
            Ingredients:
            <ul>
                @foreach (var s in @combo.Ingredients)
                {
                    <li>@s</li>
                }
            </ul>
        <p>
    </div>
}

<h2>Entrees</h2>
@foreach (Entree entree in Model.Menu.AvailableEntrees)
{
    <div class="menu-item">
        <p id="description">@entree.Description</p>
        <p>Price: $@entree.Price</p>
        <p>Calories: @entree.Calories</p>
        <p>
            Ingredients:
            <ul>
                @foreach (var s in @entree.Ingredients)
                {
                    <li>@s</li>
                }
            </ul>
        <p>
    </div>
}

<h2>Sides</h2>
@foreach (Side side in Model.Menu.AvailableSides)
{
    <div class="menu-item">
        <p id="description">@side.Description</p>
        <p>Price: $@side.Price</p>
        <p>Calories: @side.Calories</p>
        <p>
            Ingredients:
            <ul>
                @foreach (var s in @side.Ingredients)
                {
                    <li>@s</li>
                }
            </ul>
        <p>
    </div>
}

<h2>Drinks</h2>
@foreach (Drink drink in Model.Menu.AvailableDrinks)
{
    <div class="menu-item">
        <p id="description">@drink.Description</p>
        <p>Price: $@drink.Price</p>
        <p>Calories: @drink.Calories</p>
        <p>
            Ingredients:
            <ul>
                @foreach (var s in @drink.Ingredients)
                {
                    <li>@s</li>
                }
            </ul>
        <p>
    </div>
}
















