@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
@using DinoDiner.Menu;

<h1>Menu</h1>
<div id="right_sidebar">
    <form method="post">
        <input type="text" name="Search" id="@Model.Search"  />
        <input type="submit" value="Search and Filter"/>
        <div class="menu_categories_filter">
            <label>
                <input type="checkbox" name="OrderCategory" class="menu-category" value="Combos" checked="@Model.OrderCategory.Contains("Combos")"/>
                Combos
            </label>
            <label>
                <input type="checkbox" name="OrderCategory" class="menu-category" value="Entrees" checked="@Model.OrderCategory.Contains("Entrees")"/>
                Entrees
            </label>
            <label>
                <input type="checkbox" name="OrderCategory" class="menu-category" value="Sides" checked="@Model.OrderCategory.Contains("Sides")"/>
                Sides
            </label>
            <label>
                <input type="checkbox" name="OrderCategory" class="menu-category" value="Drinks" checked="@Model.OrderCategory.Contains("Drinks")"/>
                Drinks
            </label>
        </div>

        <div id="price_filter">
            <label>Price</label>
            <br/>
            <label>
                Min
                <input type="number" step="0.5" name="MinimumPrice" id="minimum-price" value="@Model.MinimumPrice"/>
            </label>
            <label>
                Max
                <input type="number" step="0.5" name="MaximumPrice" id="maximum-price" value="@Model.MaximumPrice"/>
            </label>
        </div>

        <div id="exclude-ingredients">
            <label>Exclude Ingredients</label>
            @foreach(string s in Model.Menu.PossibleIngredients)
            {
                <label>
                    <input type="checkbox" name="ExcludeIngredients" checked="@Model.ExcludeIngredients.Contains(@s)" value="@s"/>
                    @s
                </label>
            }
        </div>

    </form>
</div>

<h2>Combos</h2>
@foreach (IMenuItem item in Model.AvailableMenuItems)
{
    if (item is DinoDiner.Menu.CretaceousCombo combo)
    {
    <div class="menu-item">

        <p id="description">@combo.Description</p>
        <table id="combo-table">
            <tbody>
                <tr>
                    <td>
                        Size
                    </td>
                    <td>
                        Price
                    </td>
                    <td>
                        Calories
                    </td>
                </tr>
            
                @for (int i = 0; i < 3; i++)
                {
                    <tr>
                        <td>@combo.Size</td>
                        <td>$@combo.Price</td>
                        <td>@combo.Calories</td>
                    </tr>
                    @if (combo.Size == Size.Small)
                    {
                        combo.Size = Size.Medium;
                    }
                    else
                    {
                        combo.Size = Size.Large;
                    }
                
                }
            </tbody>
        </table>
        <p>
            Ingredients:
            <ul>
                @foreach (var s in combo.Ingredients)
                {
                    <li>@s</li>
                }
            </ul>
        <p>
    </div>
    }
}

<h2>Entrees</h2>
@foreach (IMenuItem item in Model.AvailableMenuItems)
{
    if (item is DinoDiner.Menu.Entree entree)
    {
        <div class="menu-item">
            <p id="description">@entree.Description</p>
            <p>Price: $@entree.Price</p>
            <p>Calories: @entree.Calories</p>
            <p>
                Ingredients:
                <ul>
                    @foreach (var s in @entree.Ingredients)
                    {
                        <li>@s</li>
                    }
                </ul>
            <p>
        </div>
    }
}

<h2>Sides</h2>
@foreach (IMenuItem item in Model.AvailableMenuItems)
{
    if (item is DinoDiner.Menu.Side side)
    {
        <div class="menu-item">
            <p id="description">@side.Description</p>
            <table id="combo-table">
                <tbody>
                    <tr>
                        <td>
                            Size
                        </td>
                        <td>
                            Price
                        </td>
                        <td>
                            Calories
                        </td>
                    </tr>

                    @for (int i = 0; i < 3; i++)
                    {
                        <tr>
                            <td>@side.Size</td>
                            <td>$@side.Price</td>
                            <td>@side.Calories</td>
                        </tr>
                        @if (side.Size == Size.Small)
                        {
                            side.Size = Size.Medium;
                        }
                        else
                        {
                            side.Size = Size.Large;
                        }

                    }
                </tbody>
            </table>
            <p>
                Ingredients:
                <ul>
                    @foreach (var s in @side.Ingredients)
                    {
                        <li>@s</li>
                    }
                </ul>
            <p>
        </div>
    }
}

<h2>Drinks</h2>
@foreach (IMenuItem item in Model.AvailableMenuItems)
{
    if (item is DinoDiner.Menu.Drink drink)
    {
        <div class="menu-item">
            <p id="description">@drink.Description</p>
            <table id="combo-table">
                <tbody>
                    <tr>
                        <td>
                            Size
                        </td>
                        <td>
                            Price
                        </td>
                        <td>
                            Calories
                        </td>
                    </tr>

                    @for (int i = 0; i < 3; i++)
                    {
                        <tr>
                            <td>@drink.Size</td>
                            <td>$@drink.Price</td>
                            <td>@drink.Calories</td>
                        </tr>
                        @if (drink.Size == Size.Small)
                        {
                            drink.Size = Size.Medium;
                        }
                        else
                        {
                            drink.Size = Size.Large;
                        }

                    }
                </tbody>
            </table>
            <p>
                Ingredients:
                <ul>
                    @foreach (var s in @drink.Ingredients)
                    {
                        <li>@s</li>
                    }
                </ul>
            <p>
        </div>
    }
}